* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-overflow-style: none;

    scrollbar-width: none;
  }

:root {
    --color-gray-50: #f8fafc;
    --color-gray-100: #f1f5f9;
    --color-gray-200: #e2e8f0;
    --color-gray-300: #cbd5e1;
    --color-gray-400: #94a3b8;
    --color-gray-500: #64748b;
    --color-gray-600: #475569;
    --color-gray-700: #334155;
    --color-gray-800: #1e293b;
    --color-gray-900: #0f172a;
    --color-green-100: #04d361;
    --color-green-200: #1b873f;
    --color-purple-100: #ad89ff;
    --color-purple-200: #7c3aed;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #f42500;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-gray-900);
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-white);
}

*::-webkit-scrollbar {
    display: none;
}


/*formulário */
#todo-form {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

#todo-form input {
    border: 0;
    outline: transparent;

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--color-gray-300);

    width: 20rem;
    border-radius: 999px;
}

#todo-form input::placeholder{
    color: var(--color-gray-400);
}

#todo-form input:hover {
    transition: 0.3s;
    color: var(--color-white);
    outline: 2px solid var(--color-purple-200);
}


#todo-form button {
    border: transparent;
    outline: transparent;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-purple-200);
    border-radius: 50%;

    width: 50px;
    height: 50px;
    font-size: 1.4rem;
    color: var(--color-gray-300);
    cursor: pointer;
}

#todo-form button:hover {
    transition: 0.3s;
    background-color: var(--color-white);
    color: var(--color-black);
}


/*quadro*/
.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 1rem;
    
    padding: 1rem;

    overflow: scroll;
    height: 100%;
}

.title {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    justify-items: center;
    color: var(--color-white)
}

.swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;

    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 6px;
    width: 20rem;
    min-height: 7.3rem;

    flex-shrink: 0;
}

/*itens*/
.task {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 1rem;
    color: var(--color-purple-100);
    box-shadow: 10px rgba(0, 0, 0, 0.25);
    
    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 6px;

    transition: 0.1s;
}

.task:hover {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: 600;
    color: var(--color-white);
    padding-left: 2.5rem;
  }

.is-dragging {
    scale: 1.05;
    background-color: var(--color-purple-200);
    font-weight: 600;
    color: var(--color-white);
    padding-left: 2.5rem;
}
